.body {
    width: fit-content;
    display: flex;

    align-items: center;
    margin: 0 auto
}
.container {
    overflow: hidden;
    display: flex;

    vertical-align: center;
}

.card-container {
    position: relative;
    width: 100%;
}
.cards {
    position: absolute;
    display: flex;
}
.card {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
}

.left {
    margin-left: 50px;
    transform: scale(5);
    display: block;
    height: 100%;
    line-height: 100%;
}

.right {
    margin-right: 50px;
    transform: scale(5);
    display: block;
    height: 100%;
    line-height: 100%
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
